<div class="list-controls" data-tune="list">
  <div class="list-controls__search js-search" data-tune="search">
    <input class="list-controls__input" type="text" placeholder="search projects &amp; tags" aria-label="Search projects and tags" />
  </div>
  <div class="list-controls__filters" data-tune="filters">
    <button class="list-controls__filter is-active js-magnetic" data-strength="25" type="button">All</button>
    <button class="list-controls__filter js-magnetic" data-strength="25" type="button">Shaders</button>
    <button class="list-controls__filter js-magnetic" data-strength="25" type="button">Tools</button>
    <button class="list-controls__filter js-magnetic" data-strength="25" type="button">Real-time</button>
    <button class="list-controls__filter js-magnetic" data-strength="25" type="button">Write-ups</button>
  </div>
  <div class="list-controls__empty" data-tune="empty state">
    <div class="list-controls__empty-heading">No results for <b>"raymarching"</b></div>
    <div class="list-controls__empty-body">Try a broader tag, or clear your filters to see everything.</div>
    <a class="list-controls__empty-link" href="#">Browse all projects &rarr;</a>
  </div>
</div>
