<!-- kit: stephan shapes, hana hover behavior, magnetic cursor-stick (Rod: buttons 55, tags slight 25) -->
<div class="button-kit-demo" data-tune="kit row">
  <button class="kit-button kit-button--primary js-magnetic" data-strength="55" data-strength-text="27" data-drift="4" type="button">
    <span class="kit-button__label js-magnetic-inner">View project</span>
  </button>
  <button class="kit-button kit-button--outline js-magnetic" data-strength="55" data-strength-text="27" data-drift="4" type="button">
    <span class="kit-button__fill" aria-hidden="true"></span>
    <span class="kit-button__label js-magnetic-inner">Read more</span>
  </button>
  <button class="kit-button kit-button--pill js-magnetic" data-strength="55" data-strength-text="27" data-drift="4" type="button">
    <span class="kit-button__fill" aria-hidden="true"></span>
    <span class="kit-button__label js-magnetic-inner">All projects</span>
  </button>
  <a class="inline-link" href="#">an inline link &rarr;</a>
  <span class="kit-tag js-magnetic" data-strength="25" data-drift="3">HLSL</span>
  <span class="kit-tag js-magnetic" data-strength="25" data-drift="3">Compute</span>
  <span class="kit-tag js-magnetic" data-strength="25" data-drift="3">Unity</span>
</div>
